/* ================純組件====================== */
body{
    background-color: #fffaf2;
    width: 100%;
    /* border: 1px solid green; */
}

/* .container{
    width: 100%;
    background-color: #fffaf2;
    margin: auto;
    border: 1px solid red; 
} */

/* main{
    width: 100%;
    background-color: #fffaf2; 
    border: 1px solid red;
    background-color: orange;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    /* border: 1px solid red; */
}

@media screen and (width<=768px) {
    nav{
        display: none;
    } 
    nav ul li a{
        display: none;
        /* background-color: yellow; */
    }
    nav ul{
        display: none;
    } 
    nav ul li{
        display: none;
    }
    .search{
        display: none;
        /* background-color: orange; */
    }
}

.d-flex{
    display: flex;
    /* border: 1px solid green; */
}

.pic{
    width: 100%;
    margin: auto;
    /* border: 1px solid blue; */
}

img{
    vertical-align: middle;
    width: 100%;
}


.pic img{
    width: 100%;
    
    /* border: 1px solid yellow; */
}

.intro .pic{
    position: relative;
}



h1{
    color: #1F237D;
    font-family: 'Julius Sans One', 'Kaisei Decol';
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 15px 0;
    /* border: 1px solid #fa0; */
}
@media screen and (width<=768px){
    h1{font-size: 16px;
    }
}

h2{
    font-size: 22px;
    color: black;
    margin: 0;
    line-height: 30px;
}

h3{
    font-size: 18px;
    text-align: center;
    color: black;
    margin: 20px 0px 10px 0px;
}

.price{
    /* margin: auto; */
    text-align: center;
    color: #5b5b5b;
    font-size: 16px;
    /* border: 1px solid red; */
    font-family: Noto Sans TC;
}

p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.4px;
    font-family: 'Noto Serif TC';
    width: 50%;
    /* border: 1px solid deeppink; */
}

a{
    text-decoration: none;
    /* background-color: aqua; */
}

.highlight{
    font-size: 18px;
    font-family: 'Julius Sans One', 'Kaisei Decol';
    color: #1F237D;
    /* border: 1px solid red; */
    line-height: 40px;
}

.fz22{
    font-size: 22px;
    color: #1F237D;
}

/* ------按鈕------- */
.btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    min-width: 100px;
    background: #00000000;
    border: 1px solid #1F237D;
    border-radius: 80px;
    color: #1F237D;
    font-size: 16px;
    text-transform: uppercase;
    /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px 20px;
    font-family: 'Kaisei Decol';
}
.btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #1F237D;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.btn:hover,
.btn:focus {
    color: white;
}
.btn:hover span {
    transform: translateY(0) scale(2);
}
.btn span:nth-child(1) {
    --n: 1;
}
.btn span:nth-child(2) {
    --n: 2;
}
.btn span:nth-child(3) {
    --n: 3;
}
.btn span:nth-child(4) {
    --n: 4;
}
/* ---------按鈕---------- */




header{
    background-color: #1F237D;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
}

.title{
    display: flex;
    margin: auto 0;
    /* border: 1px solid red; */
}

.header-logo{
    width: 70px;
    padding: 8px;
    box-sizing: border-box;
    margin: auto 40px;
    /* border: 1px solid white; */
    /* background-color: aquamarine; */
}

header .header-logo img{
    width: 100%;
    /* border: 1px solid teal; */
}

nav{
    display: flex;
    margin: 0;
    padding: 0;
    /* border: 1px solid orange; */
    /* background-color: red; */
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
}

nav ul li{
    padding: 18px 10px;
    position: relative;
    display: inline-block;
}


nav ul li a{
    /* display: block; */
    color: #bebebe;
}

nav ul li a:hover{
    color: white;
    transition: .3s;
}



nav ul li ul.dropdown li{
    display: block;
    padding: 8px;
    text-align: center;
}

nav ul li ul.dropdown{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    padding: 0px;
    margin-top: 5px;
    position: absolute;
    z-index: 5;
    display: none;
    background-color: rgb(61, 61, 61, 0.8);
    border-radius: 15px;
    /* border: 1px solid red; */
}

nav ul li:hover ul.dropdown{
    display: block;
}

.search{
    position: relative;
}

.search-logo{
    color: #bebebe;
    padding: 19px 5px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 10px;
    /* background-color: red; */
}

.search-bar{
    margin: 15px 20px;
    width: 130px;
    border-radius: 50px;
    border: 2px solid #bebebe;
    padding-left: 10px;
    outline: none;
    /* border: 1px solid red; */
}

.small-banner-leg{
    width: 40px;
    height: 30px;
    border-left: 10px solid #1F237D;
    border-right: 10px solid #1F237D;
    background-color: #00000000;
    margin-left: 140px;
    /* background-color: orange; */
    /* border: 1px solid red; */
} 

.small-banner-text{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    line-height: 45px;
    margin: -10px 0 0px 100px;
    font-family: 'Kaisei Decol';
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #1F237D;
}

@media screen and (width<=768px){
    .small-banner-leg{
        display: none;
    }
    .small-banner-text{
        margin-top: 20px;
    }
}


/* ---------  footer ---------  */

footer{
    background-color: #1F237D;
    color: #BEBEBE;
    padding: 10px 10px;
}

footer .d-flex{
    justify-content: space-evenly;
    border-bottom: 1px solid #bebebe;
    margin: 10px 0;
    /* border: 1px solid white; */
}

.footer-logo{
    /* width: 10%; */
    /* border: 1px solid #fa0; */
    align-items: start;
}

@media screen and (width<=768px) {
    .footer-logo{
        display: none;
    }
}

.footer-logo img{
    width: 100%;
    padding: 20px 0;
}

.footer-nav{
    box-sizing: border-box;
    height: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 12px 0px;
    /* border: 1px solid orange; */
}

.footer-nav ul{
    height: 20px;
}

.footer-nav li{
    width: 50%;
    color: #BEBEBE;
    font-family: Noto Sans TC;
    font-size: 12px;
    padding-top: 3px;
    margin: 0px;
    /* border: 1px solid deeppink; */
}

footer a{
    color: #BEBEBE;
}

.contact{
    width: 20%;
    margin: 10px 0px;
    /* border: 1px solid red; */

}

.contact li{
    color: #BEBEBE;
    font-family: 'Noto Sans TC';
    font-size: 12px;
    /* font-weight: 400; */
    line-height: 25px;
    /* border: 1px solid white; */
    padding: 0 0 5px 0;
}

.contact li:first-child{
    color: #BEBEBE;
    font-family: 'Noto Sans TC';
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.copyright p{
    color: #BEBEBE;
    font-size: 12px;
    font-style: normal;
    line-height: 25px;
    font-family: Noto Sans TC;
    text-align: right;
    width: auto;
    /* border: 1px solid red; */
    margin: 0;
    margin-right: 20px;
}

/* ----- mb-footer ------ */
.mb-footer-title{
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Julius Sans One','Kaisei Decol';
    border: 1px solid red;
}
@media screen and (width>768px) {
    .mb-footer-title{
        display: none;
        /* background-color: yellow; */
    }
}

@media (width<=768px) {
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: auto;
        font-size: 12px;
        justify-items: center;
        /* border: 1px solid red; */
    }
    .add-border{
    border-left: 1px solid #6c6c6c;
    border-right: 1px solid #6c6c6c;
    }
    .mb-d-flex{
        flex-direction: column;
    }
    .footer-nav ul{
        padding-left: 0px;
    }
    .footer-nav li{
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

.footer-nav li{
    /* border: 1px solid lawngreen; */
}


/* ----- mb-footer ------ */

/* ---------  footer ---------  */


/* -----數量----- */

.counter{
    padding: 0;
    margin: auto 0;
    /* background-color: #5b5b5b; */
    /* border: 1px solid red; */
    /* width: 100px; */
    /* background-color: orange; */
}

.counter li{
    float:left;
    list-style-type:none;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:transparent;
    /* border: 1px solid green; */
    /* border-radius: 80px; */
    /* background-color: orange; */

}
.counter li input{
    font-size:20px;
    width:100%;
    height:100%;
    outline:none;
    -webkit-appearance:none;
    background:none;
    margin:0;
    padding:0;
    border: none;
    border: 1px solid transparent;
    /* border-radius: 0; */
    /* background-color: orange; */

}
#countnum{
    border-left:1px solid black;
    border-right:1px solid black;
    color:black;
    font-size: 16px;
    font-family: 'Noto Sans TC';
}

.counter #minus input, #plus input{  
    cursor: pointer;
    /* background-color: orange; */

}

/* -----數量----- */

/* -----數量2----- */
.counter2{
    padding: 0;
    margin: auto 0;
    /* border: 1px solid red; */
    /* background-color: orange; */
}

.counter2 li{
    float:left;
    list-style-type:none;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:transparent;
    /* border: 1px solid green; */
    /* background-color: orange; */

}
.counter2 li input{
    font-size:20px;
    width:100%;
    height:100%;
    outline:none;
    /* -webkit-appearance:none; */
    background:none;
    margin:0;
    padding:0;
    border: none;
    /* border: 1px solid transparent; */
    /* border-radius: 0; */
    /* background-color: orange; */

}
#countnum2{
    border-left:1px solid black;
    border-right:1px solid black;
    color:black;
    font-size: 16px;
    font-family: 'Noto Sans TC';
}

.counter2 #minus2 input, #plus2 input{  
    cursor: pointer;
    /* background-color: orange; */

}

/* -----數量2----- */


/* =================首頁================= */

/* --------- header ----------- */

.header{
    background: url('../img/banner/header-banner.png'); 
    background-size: contain;
    width: 100%;
    height: 700px;
    background-repeat-Y: no-repeat;
    /* background-color: aqua; */
    
}

.index-title{
    display: flex;
    justify-content: flex-end;
}

.intro .pic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner{
    /* height: 1023px; */
    /* background: url('../img/banner/stardust.png'),linear-gradient(0deg, rgba(255,248,238,1) 0%, rgba(76,82,112,1) 20%, rgba(16,18,71,1) 100%); */
    
}

.logo{
    width: 400px;
    /* border: 1px solid red; */
    margin-left: 40%;
    margin-top: 96px;
}

.logo img{
    width: 100%;
    /* border: 1px solid yellow; */
}





/* --------- intro + what ---------*/

.intro{
    /* width: 100%; */
    margin: auto;
    /* border: 1px solid orange; */
}

.intro .text{
    /* border: 1px solid red; */
    margin: 0px -10px -10px -10px;
}

.intro .d-flex{
    margin: 0px -10px 15px -10px;
    /* border: 1px solid pink; */
}


.intro-d-flex{
    display: flex;
    margin: 100px auto;
}


.what{
    padding: 130px 0;
    /* border: 1px solid teal; */
    /* background-color: teal; */
}

.what .pic{
    margin: auto;
}

.what .pic img{
    position: static;
    transform: none;
    width: 70%;
}

.what p{
    width: 100%;
    /* border: 1px red; */
    /* background-color: aqua; */
}





/* --------- course ---------  */
.course{
    background-color: #F5E5CC;
    height: 400px;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
}

.course-pic{
    display: flex;
    /* border: 1px solid yellow; */
    margin-left: -50px;
    align-items: center;
}

.course-pic img{
    /* width: 20%; */
    height: 300px;
    margin: 20px 5px 20px 5px;
    /* border: 1px solid orange; */
}

.course .section{
    /* border: 1px solid red; */
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.course h1{
    padding: 0;
    /* border: 1px solid orange; */

}

.course p{
    width: 100%;
    /* border: 1px solid blue; */
}

.course .course-btn{
    margin: auto;
    /* border: 1px solid red; */
}



/* ---------  products ---------  */
.products-pic{
    margin: 0px -10px;
    /* border: 1px solid red; */
}

.products-list{
    display: flex;
    margin: 30px auto;
    padding: 30px 0;
    /* border: 1px solid red; */
}

.products-each{
    width: 150px;
    margin: auto;
    /* border: 1px solid blue; */
}

.product-pic{
    border-radius: 50%;
    overflow: hidden;
}

.product-pic img{
    width: 100%;
}

.products-each img{
    transition: 1s linear;
    transform: scale(1);
}
    
.products-each:hover img{
    transform: scale(1.2);
}


.index-products-btn{
    display: flex;
    padding: 10px 0 40px 0;
    margin: auto;
    /* border: 1px solid red; */
}

.index-products-btn .btn{
    margin: auto;
}

.index-price{
    margin: auto;
    text-align: center;
    color: #5b5b5b;
    font-size: 16px;
    /* border: 1px solid red; */
    font-family: Noto Sans TC;
}

.top{
    border: 2px solid #fff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1F237D;
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;
}

.top p{
    font-family: 'Julius Sans One';
    color: #fff;
    width: 54px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    margin: auto;
    padding-top: 2px;
    /* background-color: red; */
}




/* =================登入================= */

/* signin */
.section-signin{
    margin: auto;
    text-align: center;
    justify-content: center;
    /* border: 1px solid red; */
    /* background-color: red; */
}

.section-signin h1{
    /* display: block; */
    margin: 30px 0 20px 0;
    /* border: 1px solid red; */
}

.section-signin input{
    display: block;
    margin: 20px auto;
    align-items: end;
    line-height: 40px;
    width: 30%;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    /* border: 1px solid red; */
}

@media (width<=768px) {
    .section-signin input{
        width: 70%;
        line-height: 20px;
        background-color: deeppink;
    }
}

.section-signin a{
    display: block;
    /* border: 1px solid red; */
}

.forgot{
    font-family: Noto Serif TC;
    width: 30%;
    margin: -18px auto 15px auto;
    font-size: 12px;
    text-align: right;
    color: #6c6c6c;
    /* border: 1px solid red; */
}

@media screen and (width<=768px) {
    .forgot{
        font-size: 12px;
        width: 70%;
        /* background-color: lawngreen; */
    }
}


.forgot:hover{
    color: #1F237D;
}

.section-signin .signin-btn{
    font-size: 16px;
    /* border: 1px solid red; */
}

.section-signin .btn{
    width: 100px;
    margin: 50px auto 5px auto;
}

.register{
    font-family: 'Kaisei Decol';
    width: 40px;
    margin: auto;
    margin-bottom: 150px;
    color: #6c6c6c;
    font-size: 16px;
    dis
    /* border: 1px solid red; */
}

.register:hover{
    color: #1F237D;
}





/* ==================預約課程============== */
.d-flex-reservation{
    display: flex;
    margin: 20px auto 0 auto;
}

.section-reservation{
    /* margin: 0; */
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.reservation-pic{
    /* border: 1px solid red; */
}

.large-pic{
    width: 300px;
    margin-bottom: 3px;
    margin-left: 100px;
    /* border: 1px solid red; */
    /* background-color: red; */

}

.small-pics{
    display: flex;
    width: 249px;
    margin-left: 100px;
}

.small-pics img{
    width: 72.75px;
    margin: 3px 3px 0px 0px;
}

.section-reservation .price{
    text-align: left;
    
}

.chose-text{
    font-family: 'Noto Sans TC';
    font-size: 16px;
    color: #6c6c6c;
    margin: 15px 0 5px 0;
}

.chose-bar input{
    width: 150px;
    background-color: #fffaf2;
    border: 1px solid #6c6c6c;
    height: 30px;
    border-radius: 50px;
    padding: 0 8px 0 16px;
}

.section-reservation .btn{
    margin-top: 15px;
}

.text{
    margin: auto;
    width: 638px;
    /* border: 1px solid red; */
}

.text p{
    margin: 10px 0 50px 10px;
    /* background-color: #5b5b5b; */
    width: 100%;
    font-size: 14px;
    /* border: 2px solid yellow; */
}

.reservation-counter{
    margin: 10px 0px;
}




/* =================購物車=============== */

.cart{
    /* border: 1px solid red; */
    margin: 30px auto 0px auto;
    position: relative;
}

.cart-info{
    display: flex;
    /* padding: 15px 0; */
    margin: 15px 0;
    /* border: 1px solid blue; */
}

.cart-info:nth-child(1){
    padding-top: 20px;
    border-top: 1px solid black;
    /* background-color: #6C6C6C; */
}

.cart-info:last-child{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    /* background-color: #6C6C6C; */
}

.cart-pic{
    width: 100px;
    margin: 0 -10px;
    /* border: 1px solid #fa0; */
}

.cart-pic img{
    width: 100%;
}

.cart-info .d-flex{
    justify-content: space-between;
    margin: 0;
}

.cart-info h3{
    margin: auto 0 auto 10px;
}

.cart-info .price{
    margin: auto 0 auto 30px;
    padding-bottom: 5px;
}

.cart-info .cart-cancel{
    margin: auto 0;
    padding-bottom: 3px;
    /* border: 1px solid red; */
}

.cart a{
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    color: #6c6c6c;
}

.cart a:hover{
    color: #1F237D;
}

.cart-pay{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.cart-pay .cart-section{
    padding-top: 15px;
    width: 200px;
    margin: 10px 0px;
    /* border: 1px solid green; */
}

.cart-pay .cart-section .d-flex{
    margin: 0px 0px 3px 0px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.cart-pay .cart-section .d-flex:nth-child(2){
    padding-bottom: 20px;
}

.total{
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    /* background-color: red; */
}

.pay-btn{
    width: 100px;
    height: 25px;
    text-align: center;
    margin: 20px 0 30px auto;
    border: 1px solid #1F237D;
    border-radius: 15px;
    color: #1F237D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-btn:hover{
    width: 100px;
    height: 25px;
    text-align: center;
    margin: 20px 0 30px auto;
    border: 1px solid #1F237D;
    background-color: #1F237D;
    border-radius: 15px;
    color: #FFF;
}








/* =================所有商品================ */
.products{
    margin: 30px auto 0 auto;
    /* border: 1px solid red; */
}

.products .col-12{
    padding: 0px;
}

.card:hover img{
    transform: scale(1.2);
}

.card img{
    transition: 1s linear;
    transform: scale(1);
    /* border: 1px solid red; */
}

/* ---------- select bar ---------- */

.select-bars{
    display: flex;
    padding: 0px;
    /* border: 1px solid green; */
}

.select-bar{
    border: 2px solid #1F237D;
    border-bottom: transparent;
    width: 50%;
    height: 40px;
    text-align: center;
    display: flex;
    /* border: 1px solid red; */
}

.left{
    border-top-left-radius: 35px;
    border-right: 1px solid #1F237D;
    background-color: #1F237D;
}

.right{
    border-top-right-radius: 35px;
    border-left: 2px solid #1F237D;
    background-color: transparent;
}

.select-bar a{
    margin: auto;
    width: 100%;
    height: 40px;
    display: flex;
    align-content: center;
    /* border: 1px solid yellow; */
}

.left a{
    border-top-left-radius: 35px;
}

.right a{
    border-top-right-radius: 35px;
    /* border: 1px solid orange; */
}

.select-bar p{
    text-align: center;
    margin: auto;
    font-size: 20px;
    /* border: 1px solid red; */
}

.right a p{
    color: #1F237D;
    /* border: 1px solid red; */
}

.left a p{
    color: #fff;
    /* border: 1px solid red; */
}

/* ---------- select bar ---------- */

.products .d-flex{
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;
    border: 2px solid #1F237D;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 10px 20px;
}

.card a{
    color: black;
}

.card-pic{
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.card-pic img{
    width: 100%;
}

.card-name{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Noto Sans TC';
    /* border: 1px solid red; */
}

.card-price{
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    color: #6c6c6c;
}

.page{
    display: flex;
    margin: 50px auto;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    /* border: 1px solid red; */
}

.page i{
    padding: 8px;
    margin: auto;
    color: #1F237D;
    border-radius: 50%;
    /* border: 1px solid palegreen; */
}

.arrow:hover{
    font-size: 18px;
    /* background-color: #5b5b5b; */
}

.page ul{
    display: flex;
    padding: 0px;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    margin: 0 8px;
    /* border: 1px solid green; */
}

.page ul a li{
    padding: 8px;
    color: #1F237D;
    /* border: 1px solid plum; */
}

.page ul a{
    display: block;
    text-decoration: none;
    /* background-color: #5b5b5b; */
}

.page ul a:hover{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #1F237D;
}









/* ================關於我============== */

.about-d-flex{
    display: flex;
    margin: 30px auto 0px auto;
    /* border: 1px solid red; */
}

.about-section{
    margin: auto;
    /* border: 1px solid orange; */
}

.about-section .highlight{
    /* border: 1px solid red; */
}

.about-text{
    font-size: 16px;
    display: block;
    width: 100%;
    /* border: 1px solid red; */
}

.about-logo{
    /* border: 1px solid blue; */
}

.about-logo img{
    width: 75%;
}

.about-section h1{
    margin-top: 60px;
    font-size: 20px;
    /* border: 1px solid red; */
}

.timeline-section{
    margin: auto;
    padding: 0px;
    /* border: 1px solid red; */
    height: 200px;
}

.timeline li{
    width: 50%;
    position: relative;
    /* border: 1px solid green; */
}

.timeline li:nth-child(odd)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #aaa;
}

.timeline li p{
    width: 90%;
    font-size: 14px;
    margin: 20px;
    /* text-align: center; */
    /* border: 1px solid red; */
}

.timeline li:nth-child(odd){
    float: left;
    text-align: right;
}
.timeline li:nth-child(even){
    float: right;
    text-align: left;
    /* padding-right: 100px; */
    transform: translateY(50%);
}

.timeline li:last-child::after{
    height: 50%;
}

.timeline li:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
    z-index: 4;
    top: 0;
    bottom: 0;
    margin: auto;
}

.timeline li:nth-child(odd)::before{
    right: -5px;
}
.timeline li:nth-child(even)::before{
    left: -5px; 
} 

.contact p{
    font-size: 14px;
    line-height: 18px;
    margin: 10px -10px;
    /* border: 1px solid red; */
}

.map{
    margin: 0 auto 20px auto;
    /* border: 3px solid red; */
}








/* ================最新消息================ */

.news{
    margin: auto;
}

.news a p{
    font-size: 14px;
    color: #6c6c6c;
    border-bottom: 1px solid #6C6C6C;
    width: 100%;
    margin: 25px;
}

.news a p:hover{
    color: #1F237D;
    border-bottom: 2px solid #1F237D;
}





/* ===============商品================*/


.product1{
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
}

.section-product1{
    /* margin: 0; */
    margin-left: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.section-product1 .price{
    /* text-align: left; */
    margin-top: 8px;
    /* border: 1px solid red; */
}

.section-product1 .chose-text{
    margin-top: 30px;
    /* border: 1px solid red; */
}

.section-product1 .counter{
    margin-top: 10px;
    /* border: 1px solid red; */
}








/* =================工具================ */
.tools{
    margin: 30px auto 0 auto;
    /* border: 1px solid red; */
}

.tools .col-12{
    padding: 0px;
}

/* ---------- select bar ----------- */
.tools .left{
    border-top-left-radius: 35px;
    border-right: 1px solid #1F237D;
    background-color: transparent;
}

.tools .right{
    border-top-right-radius: 35px;
    border-left: 2px solid #1F237D;
    background-color: #1F237D;
}

.tools .right a p{
    color: #fff;
    /* border: 1px solid red; */
}

.tools .left a p{
    color: #1F237D;
    /* border: 1px solid red; */
}

/* --------- select bar --------- */


.tools .d-flex{
    margin: 0;
    padding: 20px;
    flex-wrap: wrap;
    border: 2px solid #1F237D;
    justify-content: center;
    align-items: center;
}


